/* CSS Document */
/*		tungancutko							Tung										*/
a{
	transition: 0.5s;
}
a:hover{
	text-decoration: none;
}
p{
	line-height: 1.33;
	text-align: justify;
}
h1{
	font-size: 60px;
	color: #000;
}
h7{
	color: #515154;
}
.leCacMuc{
	margin-bottom: 3%;
}
/*						Header:							*/

#header{
	transition: all 0.5s;
	z-index: 997;
	background: #000;
	height: 48px;
}
#logo-X{
	padding-top: 5px;
}
.logo-chu a{
	color: #fafafa;
	text-decoration: none;
	font-size: 30px;
	font: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
#header .header-transparent{
	background: transparent;
}
.nav-menu ul{
	list-style-type: none;
	padding: 10px;
}
.nav-menu > ul{
	display: flex;
}
.nav-menu >ul >li{
	position: relative;
	white-space: nowrap;
	padding: 0px 15px;

}
.nav-menu a{
	display: block;
	position: relative;
	color: #a5a5a5;
	transition: 0.3s;
	font-size: 16px;
	font-weight: 600;
}
.nav-menu a:hover{
	display: block;
	position: relative;
	color: #fff;
	transition: 0.3s;
	text-decoration: none;
}
.nav-menu .drop-down ul{
	display: block;
	position: absolute;
	left: 14px;
  top: calc(100% + 30px);
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #323233;
/*  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);*/
}
.nav-menu .drop-down:hover > ul {
	opacity: 99%;
	top: 100%;
	visibility: visible;
	transition: 0.5s;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}
.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  text-transform: none;
  color: #a5a5a5;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #fff;
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
/*  padding-right: 35px;*/
}
#box-tim-kiem{
	z-index: 998;
	background-color: #323233;
	position: absolute;
	width: 50%;
	margin: 0% 25%;
	border-radius: 10px;
	display: none;
	animation-name: hienthi_1;
	animation-duration: 1s;
	animation-iteration-count: 1;
}
@keyframes hienthi_1{
	0%{
		left: 100%;
		opacity: 0;
	}
	100%{
		left: 0%;
		opacity: 1;
	}
}

#text-box-tim-kiem{
	width: 82%;
	height: 46px;
	color: #a5a5a5;
	background-color: #323233;
	padding-left: 3%;
	border: none;
}
#text-box-tim-kiem:hover{
	color: #fff;
}
#text-box-tim-kiem:active{
	color: #fff;
}
#text-box-tim-kiem:focus{
	color: #fff;
}
#nut-tim-kiem{
	width: 10%;
	height: 46px;
	border-left: 0 #000;
	border-top: #000;
	color: #fff;
	background-color: #323233;
	border: solid 1px;
	border-radius: 10px;
}
#nut-thoat-tim-kiem{
	width: 6.7%;
	text-align: center;
	color: #fff;
	background-color: #323233;
	font-weight: bold;
	border-left: none;
	border-bottom: none;
	border-right: 2px #fff;
	border-top: none;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	
}

/*header2*/
#lamMo{
	height: 48px;
	top: 48px;
	background-color: #fff;
	opacity: 5%;
	z-index: 2;
}
.header-2{
	height: 48px;
	top: 48px;
	padding: 5px 0 0 30px;
	font-size: 26px;
	z-index: 3;
	border-bottom: 1px solid;
}
.header-2 a{
	font-size: 18px;
	position: relative;
	left: 30%;
	color: #757575;
	text-decoration: none;
	padding: 5px 5% 0 0;
}
.header-2 a:hover{
	color: #0066cc;
}
#tieuDe{
	color: #000;
}
/*						Header: End;					*/

/*						Banner gioi thieu: 				*/
.banner-gioi-thieu-den{
	background-color: #000;
	width: 49.5%;
	margin-bottom: 1%;
	position: relative;
	max-height: 450px;
}
.banner-gioi-thieu-trang{
	background-color: #fff;
	width: 49.5%;
	margin-bottom: 1%;
	position: relative;
	max-height: 450px;
}
@keyframes anh{
	0%{
		opacity: 0;
		max-height: 20%;
	}

	100%{
		opacity: 1;
		max-height: 450px;
	}
}
.banner-gioi-thieu-den video, .banner-gioi-thieu-den img, .banner-gioi-thieu-trang img, .banner-gioi-thieu-trang video{
	animation-name: anh;
	animation-duration:1.2s;
	animation-iteration-count: 1;
	max-height: 450px;
}
.tieuDeBanner{
	color: #fff;
	border: 1px solid #fff;
	font-size: 28px;
	width: 200px;
	text-align: center;
/*
	animation-name: hienthi_1;
	animation-duration: 2.4s;
	animation-iteration-count: 1;
*/
	padding: 5px;
	position: absolute;
	z-index:1;
	right: 10%;
	top: 65%;
	background-color: rgba(0,0,0,0.7);
}
.tieuDeBanner:hover{
	color: #000;
	background-color: #fff;
}

/*						Banner gioi thieu: End 				*/

/*							pop up*/
.khuyenMai{
	position: fixed;
	color: #000;
	left: 48px;
	bottom: 12px;
	font-size: 13px;
	font-weight: bold;
	z-index: 999;
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 15px;
	text-align: center;
}
#khuyenMai {
	position: fixed;
	background: #0066cc;
	color: #000;
	width: 44px;
	padding-top: 2px;
	height: 44px;
	text-align: center;
	font-size: 26px;
	border-radius: 50%;
	left: 15px;
	bottom: 15px;
	transition: 0.5s;
    z-index: 998;
	animation-name: doiMau;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	  box-shadow: 1px 1px 20px #0066cc;
}
@keyframes doiMau{
	0%{
		background-color: #0066cc;
	}
	50%{
		background-color: #0F79E3;
	}
	100%{
		background-color: #0555A5;
	}
}
@keyframes diChuyenChu1{
	0%{
		padding-top: 4px;
	}
	50%{
		padding-top: 2px;
	}
	100%{
		padding-top: 4px;
	}
}

#khuyenMai:hover{
	color: #fff;
}
#veDauTrang {
	position: fixed;
	display: none;
	background: #0066cc;
	color: #000;
	width: 44px;
	padding-top: 2px;
	height: 44px;
	text-align: center;
	font-size: 20px;
	border-radius: 50%;
	right: 15px;
	bottom: 15px;
	transition: 0.5s;
    z-index: 999;
	box-shadow: 1px 1px 20px #0066cc;
	animation-name: diChuyenChu1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
#veDauTrang:hover{
	color: #fff;
}

#noiDungKhuyenMai{
	margin: 5% 5% 0 5%;
	height: 85%;
	position: fixed;
	background-color: #fff;
	box-shadow: 0px 0px 700px #000;
	display: none;
	width: 82%;
	animation-name: slideQuangCao;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}
.thoat{
	position: absolute;
	left: 96.8%;
	z-index: 1;
	font-size: 22px;
}

.slide{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
@keyframes slideQuangCao{
	0%{
		opacity: 0;
		margin-left: 0;
		width: 0;
		margin-top: 100%;
	}
	50%{
		opacity: 20%;
	}

	100%{
		opacity: 1;
		margin-top: 5%;
		margin-left: 5%;
	}
}
.leSlide{
	margin: 1%;
}
#chuyenSlide{
	width: 500%;
	transition: 0.6s;
}
#chuyenSlide img{
	width: 20%;
	height: 10%;
	float: left;
}

#next{
	position: absolute;
	left: 97%;
	top: 40%;
	font-size: 40px;
	height: 85%;
	z-index: 1;
}
#prev{
	position: absolute;
	left: 2%;
	top: 40%;
	font-size: 40px;
	z-index: 1;
}
.dieuHuongSlide{
	display: none;
}
.slide:hover .dieuHuongSlide{
	display: block;
}
.slide:hover .lamMo{
	display: block;
}
.dieuHuongSlide2{
	position: absolute;
	bottom: 4%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	z-index: 1;
}
.lamMo{
	display: none;
	opacity: 50%;
	background-color: #a5a5a5;
}
.bar{
	width: 40px;
	height: 8px;
	border: 0px solid #fff;
	margin: 10px;
	cursor: pointer;
	background-color: #a5a5a5;
	opacity: 90%;
}
#bottom_1{
	background-color: #fff;
}
input[name="dieuHuong"]{
	position: absolute;
	visibility: hidden;
}
.slides{
	width: 200%;
	height: 100%;
	display: flex;
}
.thanhPhan{
	width: 12.5%;
	transition: 0.6s;
	margin: 0.5%;
}

.hoverSanPham{
	position: absolute;
	z-index: 2;
	width: 25%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	display: none;
	vertical-align: middle;
	padding-top: 10%;
}
.thanhPhan:hover .hoverSanPham{
	display: block;
}

.hoverSanPham a{
	margin: 0 8px;
	font-size: 32px;
	transition-delay: 0.3s;
	color: #fff;
	animation: hoverSanPham;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
}
@keyframes hoverSanPham{
	0%{
		margin: 0;
	}
	100%{
		margin: 0 8px;
	}
}
.anhSanPham img{
	width: 80%;
}
.anhSanPhamLon img {
	width: 100%;
}
.giaDo{
	color: #000;
	font-weight: bold;
}
.giaGachNgang{
	color: #515154;
	text-decoration: line-through;
}
#trai:checked ~ .s1{
	margin-left: 0;
}
#phai:checked ~ .s1{
	margin-left: -38%;
}

/*									pop up: end.*/

#labelTrai{
	background-color: #fff;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	color: #000;
	font-size: 24px;
	text-align: center;
	position: absolute;
	top: 70%;
	z-index: 4;
	left: -2%;
}
#lablePhai{
	position: absolute;
	background-color: #fff;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	color: #000;
	font-size: 24px;
	text-align: center;
	top: 70%;
	z-index: 4;
	right: 1%;
}
.doitac img{
	padding: 5px 0 0 5px;
	width: 50%;
	margin-left: 25%;
}
.theodoi img{
	width: 60%;
	padding: 5px 0 0 5px;

}
/*footer*/
footer{
	background-color: #F5F6F7;
	font-size: 12px;
    line-height: 2.2;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}
footer b{
	color: #515154;
	font-size: 12px;
}
footer span{
	margin-top: 15px;
	color: #515154;
}
h6{
	color: #000;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
	margin: 15px 0;
}

footer a{
	color: #515154;
}
footer a:hover{
	color: #000;
}
footer div{
	margin: 15px 0;
}

.keNganCach{
	border-top: 1px solid;
	border-bottom: 1px solid;
}
.cuoiFooter span{
	margin-right: 5%;
}
.cuoiFooter select{
	float: right;
	border: none;
	background-color: #F5F6F7;
}

/*Noi dung trang gioithieu*/
.noiDungGioiThieu{
	width: 40%;
	color: #000;
}
.noiDungGioiThieu a{
	text-align: center;
	color: #fff;
	margin: 5%;
}
.linkDen{
	width: auto;
	padding: 10px 20px;
	background: #000;
}
.hinhNen{
	opacity: 10%;
	position: fixed;
	top: 13.5%;
	display: none;
}
.noiDungTrang h2{
	line-height: 3;
}
.noiDungTrang span .row span{
	background-color: #fff;
	border-right: 1px #dfdfdf solid;
}
.noiDungTrang span .row span:last-child{
	border-right: none;
}
.noiDungTrang span .row span:hover{
	border: 1px #0066cc solid;
}
/*Noi dung trang gioithieu: End.*/

/*su kien o trang chu*/

.anhSuKien img{
	width: 28%;
	margin: 2%;
	max-height: 300px;
}
/*su kien o trang chu: end.*/
#trai2:checked ~ .s2{
	margin-left: 0;
}
#phai2:checked ~ .s2{
	margin-left: -35%;
}
#labelTrai2{
	background-color: #fff;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	color: #000;
	font-size: 24px;
	text-align: center;
	position: absolute;
	top: 70%;
	z-index: 4;
	left: -2%;
}
#lablePhai2{
	position: absolute;
	background-color: #fff;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	color: #000;
	font-size: 24px;
	text-align: center;
	top: 70%;
	z-index: 4;
	right: 1%;
}
/*Tin khac home:;					*/

#labelTrai3{
	background-color: #fff;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	color: #000;
	font-size: 24px;
	text-align: center;
	position: absolute;
	top: 40%;
	z-index: 4;
	left: -2%;
}
#lablePhai3{
	position: absolute;
	background-color: #fff;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	color: #000;
	font-size: 24px;
	text-align: center;
	top: 40%;
	z-index: 4;
	right: 1%;
}
.tinTuc p{
	color: #000;
}
.tinTuc h6{
	margin: 0;
}
.tinTuc img{
	max-height: 534px;
}
.tinTuc:hover h6{
	color: #0066cc;
}
/*Tin khac home: end;				*/

/*									Tung:end;									*/

/*                                  Tuan                                                                     */
/*              Chung                                                                */
:root{
	--maingray: #95a5a6;
	--blue: #3498db;
	--mainblue: #2980b9;
}
#khuyenmai{
	color:var(--maingray);
	margin:0;
	padding:0;
}
@keyframes xanhnhapnhay{
	0%{
		color:#0984e3;
	}
	50%{
		color: #81ecec;
	}
}
/*   Header khuyen mai  */
.box-header-km{
		margin-top: 78px;
		background-color: white;
	}
.box-header-km ul{
	width: 100%;
	list-style: none;
	margin-inline-start: 80px;
}
.box-header-km ul li{
	float: left;
}
.box-header-km ul li a{
	padding: 17px 30px 10px 30px;
	display: inline-block;
	text-decoration: none;
	color: var(--maingray);
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.box-header-km ul li a:hover, .box-menu-active{
	border-bottom: 2px solid var(--mainblue);
	text-decoration: none;
	opacity: 1 !important;
	transition: 0s;
	color: #2f3640 !important;
}
#box-menu{
	border-bottom: 1px solid var(--blue);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	max-width: 1200px !important;
	margin: auto;
	margin-bottom: 20px;
	background-color: #f5f6fa;
}
/*                           Content khuyen mai                              */
.km-grid {
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.km-image{
	height: 200px;
    width: 100%;
}
.km{
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
	height: 300px;
	background-color: #f5f6fa;
	
}
.km-title-1 {
	color: #2c3e50;
	font-weight: bold;
	padding: 5px;
}
.km-title-1:hover {
	text-decoration: underline;
}
#footer-km-content{
	margin: 40px 10px;
    font-size: 13px;
	font-weight: bold;
	color: var(--blue);
}
#footer-km-content-2{
	float: right;
	padding: 5px;
	color: white;
	background-color: var(--blue);
}
#footer-km-content-2:hover{
	background-color: var(--mainblue)
}
#footer-km-content-1{
	animation-name: xanhnhapnhay;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#km-content-2, #km-content-3, #km-content-4{
	display: none;
}

/*                                                  Tin tuc                                            */
/*                            Chung                                */

.tin-tuc{
	margin: 0;
	padding: 0;
}
.tin-tuc a{
	text-decoration: none;
}
/*                            Content tin tuc 1                */
.content-news{
	width: 1200px;
	height: 800px;
	margin: 78px auto 0 auto;
}
.left-content-news1{
	width: 800px;
	height: 100%;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;	
}
#thumbnail1{
	height: 430px;
	width: 800px;
	background-image: url("../images/tin-tuc/tin-tuc-1.png");
	background-size: cover;
	position: absolute;
}
#thumbnail1 article{
	cursor: pointer;
	font-size: 30px;
	color: white;
	font-weight: bold;
	margin: 330px 30px auto 30px;
	vertical-align: baseline;
}
.news-content1{
	display: flex;
	margin-top: 445px;
	width: 100%;
	height: 355px;
	overflow: hidden;
}
.news-content1-1{
	height: 100% ;
	width: 100%;
	margin-right: 15px;
}
.news-content1-1 p{
	font-size: 14px;
	font-weight: bold;
	margin-right: 8px;
}
#img-news{
	height: 200px;
	width:  auto;
}
/*                                                 Tuan end                                           */